[package]
name = "{Project.name}"
version = "0.1.0" # Follow [SemVer 2](https://semver.org/)
authors = ["{Author.fullname} <Author.mail>"]
edition = "2018"
description = "{Project.description}"
publish = false # Change to publish on crates.io

documentation = "{Project.doc_url}"
homepage = "{Project.website_url}"
repository = "{Project.repo_url}"

keywords = "{Project.keywords}" # Up to five
categories = "{Project.categories}" # Up to five (crates.io/category_slugs)

readme = "./README.md"
#license = "{Project.license}" # If standard license
license-file = "./LICENSE"

[badges]
is-it-maintained-issue-resolution = { repository = "{Project.repo_url}" }
is-it-maintained-open-issues = { repository = "{Project.repo_url}" }
# [actively-developed, passively-maintained, as-is,
#   experimental, looking-for-maintainer, deprecated, none]
# ref: https://doc.rust-lang.org/cargo/reference/manifest.html#package-metadata
maintenance = { status = "{Project.status}" }

[lib]
path = "src/lib.rs"
test = true
doctest = false
bench = false
doc = true

# [[bin|example|test|bench]]
# name = ""
# path = ""
# required-features

[features]
default = []

[dependencies]
